#webui, api, src
fastapi==0.89.1
googletrans==3.1.0a0
omegaconf==2.2.3
pydub==0.25.1
numba
librosa
matplotlib
numpy
phonemizer
scipy
tensorboard
torch
torchvision
torchaudio
unidecode
pyopenjtalk>=0.3.0
jamo
pypinyin
ko_pron
jieba
cn2an
protobuf
inflect
eng_to_ipa
ko_pron
indic_transliteration
num_thai
opencc
gradio<3.20.0